
@{
    Layout ="_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>

</head>
<body>
    <h3> Go to:</h3>
    <div>
        <a href="/Tasks/Task1/">Task №1</a>
        <br />
        <a href="/Tasks/Task2/">Task №2</a>
        <br />
        <a href="/Tasks/Task3/">Task №3</a>
        <br />
        <a href="/Tasks/Task4/">Task №4</a>
        <br />
        <a href="/Tasks/Task5/">Task №5</a>
        <br />
        <a href="/Tasks/Task6/">Task №6</a>
        <br />
    </div>
</body>
</html>
